{{ define "footer" }}
{{/* Time-stamp: <2022-04-01 13:29:50 krylon> */}}
<hr />
<div class="footer">
  <footer>
    {{ app_string }}<br />
    &copy; 2022
    {{ if (gt current_year "2022") }}
    - {{ current_year }}
    {{ end }}
    <a href="mailto:walkenhorst.benjamin@gmail.com">
      Benjamin Walkenhorst
    </a>
    {{ if .Debug }}
    <br />
    Template rendered on <time>{{ now }}</time>
    {{ end }}
  </footer>
</div>
{{ end }}
