{{ define "index" }}
{{/* Time-stamp: <2022-04-01 15:58:40 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    {{ template "mood_form" . }}

    {{ template "mood_graph" . }}

    {{ template "mood_view" . }}

    {{ template "footer" }}
  </body>
</html>
{{ end }}
