{{ define "mood_graph" }}
{{/* Created on 28. 03. 2021 */}}
{{/* Time-stamp: <2022-04-01 19:43:18 krylon> */}}
<div class="container">
  <canvas id="mood_graph" width="400" height=200"></canvas>
  <script>
   let ctx = $("#mood_graph");
   let mood_graph = new Chart(ctx, {
     type: "line",
     data: {
       datasets: [
         {
           label: "Mood",
           data: [
             {{ range .Mood }}
             { 
               x: new Date("{{ fmt_time .Timestamp }}"),
               y: {{ .Score }},
             },
             {{ end }}
           ], // .reverse(),
           backgroundColor: [
             'rgba(255, 99, 132, 0.2)',
             'rgba(54, 162, 235, 0.2)',
             'rgba(255, 206, 86, 0.2)',
             'rgba(75, 192, 192, 0.2)',
             'rgba(153, 102, 255, 0.2)',
             'rgba(255, 159, 64, 0.2)'
           ],
           borderColor: [
             'rgba(255, 99, 132, 1)',
             'rgba(54, 162, 235, 1)',
             'rgba(255, 206, 86, 1)',
             'rgba(75, 192, 192, 1)',
             'rgba(153, 102, 255, 1)',
             'rgba(255, 159, 64, 1)'
           ],
           borderWidth: 1,
           color: "rgba(0, 164, 33, 0)",
         },
         {
           label: "Craving",
           data: [
             {{ range .Craving }}
             { 
               x: new Date("{{ fmt_time .Timestamp }}"),
               y: {{ .Score }},
             },
             {{ end }}
           ], // .reverse(),
           backgroundColor: [
             'rgba(255, 99, 132, 0.2)',
             'rgba(54, 162, 235, 0.2)',
             'rgba(255, 206, 86, 0.2)',
             'rgba(75, 192, 192, 0.2)',
             'rgba(153, 102, 255, 0.2)',
             'rgba(255, 159, 64, 0.2)'
           ],
           borderColor: [
             'rgba(255, 99, 132, 1)',
             'rgba(54, 162, 235, 1)',
             'rgba(255, 206, 86, 1)',
             'rgba(75, 192, 192, 1)',
             'rgba(153, 102, 255, 1)',
             'rgba(255, 159, 64, 1)'
           ],
           borderWidth: 1,
           color: "rgba(214, 40, 63, 0)",
         },          
       ],
     },
     options: {
       scales: {
         x: {
           type: "time",
         },
         y: {
           beginAtZero: true,
         },
       },
       layout: {
         padding: {
           left: 50,
           right: 50,
           top: 0,
           bottom: 0,
         },
       },
     },
   });
  </script>
</div>
{{ end }}
