{{ define "mood_view" }}
{{/* Created on 26. 03. 2021 */}}
{{/* Time-stamp: <2021-03-26 23:04:23 krylon> */}}
<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Score</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
    {{ range .Data }}
    <tr>
      <td>{{ fmt_time .Time }}</td>
      <td>{{ .Level }}</td>
      <td>{{ .Note }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
